@import '../../../style/variables';

@include tablet{
  .dropdown{
    margin: 0 5px;

    &__button{
      width: 100px;
    }
  }
}

@include mobile{
  .dropdown{
    margin: 0 5px;

    &__button{
      width: 36px;
    }
  }
}