@import '../../../style/variables';

.dropdown{
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  margin: 0 10px;


  &__button{
    @include button-reset;
    width: 200px;
    height: 40px;
    background-color: $dark-grey;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    flex-grow: 1;

    &:focus{
      outline: none;
    }

    &:before{
      content: "";
      position: relative;
      width: 0;
      height: 0;
      border: 10px solid;
      border-color: white transparent transparent transparent;
      right:6px;
      top:15px;
    }
  }

  &__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0;
    width: 200px;
    font-weight:bold;
    position: absolute;
    background-color: #fff;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  &__item{
    display: flex;
    border-bottom: 1px solid #e5e5e5;

    &:hover{
      background-color: #e5e5e5;
      color: white;
    }

    &:last-child{
      border-bottom: none;
    }

    button{
      @include button-reset;
      display: inline-block;
      flex-grow: 1;
      text-align: left;
      padding: 5px 13px ;
      border: solid 1px transparent;
      border-radius: 4px;
      text-decoration: none;

      &:hover{
        color: #ff3232;
        border-color: currentColor;
        background-color: #dcdcdc;
      }
    }
  }
}
