.dropdown{
  position: relative;
  display: inline-block;

  &__button{
    width:178px;
    height:18px;
    background-color:#ff3232 ;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:white;

    &:before{
      content:"";
      position:absolute;
      width:0;
      height:0;
      border: 10px solid;
      border-color: white transparent transparent transparent;
      right:6px;
      top:18px;
    }
  }

  &__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0;
    width: 200px;
    background-color: white;
    font-weight:bold;
    position: absolute;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  &__item{
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;

    &:hover{
      background-color: #e5e5e5;
      color: white;
    }

    &:last-child{
      border-bottom: none;
    }
  }
}

