@import '../../style/variables';

.header{
  display: flex;
  justify-content: space-between;
  background-color: $primary-orange;
  height: 75px;
  padding: 0 20px;
  font-family: Roboto, sans-serif;

  &__logo{
    max-height: 75px;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
  }

  &__search-container{
    display: flex;
    align-items: center;
    background-color: $primary-orange;
  }

  &__search-menu{
    width: 100px;
    background-color: #ffd1c4;
  }

  &__display-mode{
    display: flex;
    width: 140px;
  }

  &__sort-order-switch{
    @include button-reset;
    width: 50px;
    height: 100%;
    background-color: #dcdcdc;
    border-radius: 4px;
    margin: 0 2px;

    &:focus{
      background-color: grey;
    }
  }

  &__switch{
    @include button-reset;
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 4px;
    margin: 0 2px;

    &:focus{
      background-color: grey;
    }
  }
}
