@import '../../style/variables';

@include tablet {
  .header{
    padding: 0 15px;

    &__display-mode{
      width: 100px;
      margin-left: 4px;
    }
  }
}

@include mobile {
  .header{
    padding: 0 5px;

    &__display-mode{
      flex-basis: 100px;
      margin-left: 4px;
    }
  }
}

@include custom-media(0px, 570px){
  .header{

    &__search-container{
      justify-content: start;
      margin: 0 auto;

      form{
        flex-shrink: 3;
      }

      .dropdown{
        flex-shrink: 0;
      }
    }

    &__sort-order-switch{
      flex-shrink: 0;
      margin: auto;
    }
  }
}

@include custom-media(0px, 570px){
  .header{
    &__logo{
      display: none;
    }
  }
}
