$primary-orange: #ec832f;
$dark-grey: #443027;
$light: #E3E3E3;
$focus-grey: #747474;

$mobile-width: 320px;
$tablet-width: 720px;
$desktop-width: 1200px;
$large-desktop: 1350px;

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop - 1px}) {
    @content;
  }
}
